#contain{
    background-color: whitesmoke;
    height: 100%;
}

#navbar{
    background-color:white;


}
#pagination{
   height: 30px;
}
#panel{
    color: white;
}
#select{
    color: white;
}
/*
#header{
    background-image: url("../image/booktitle/books.jpg");
    height: 300px ;
}

#birthday{
    background-image: url("../image/birthday/birthday.jpg");
    height: 300px ;
}
#city{
    background-image: url("../image/city/city.jpg");
    height: 300px ;
}
#picture{
    background-image: url("../image/profile picture/profile.jpg");
    height: 300px ;
}
#OrgSummary{
    background-image: url("../image/organization/bitm.jpg");
    height: 300px ;
}
#gender_pic{
    background-image: url("../image/gender/gender1.jpg");
    height: 300px ;
}
#EMAIL{
    background-image: url("../image/email/email.jpg");
    height: 300px ;
}

*/
.pull-right{
    float: right;
}
#message{
    color: darkcyan;
}
